<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.dao.demo.DemoMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="system.entity.demo.DemoEntity" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="time" property="time"/>
	<result column="mark" property="mark"/>
</resultMap>

<sql id="Base_Column_List" >
	 id,name,time,mark
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
 where 1=1
<trim  suffixOverrides="," >
	<if test="demo.id != null and demo.id != ''" >
	    and id =  #{demo.id}
	</if>
	<if test="demo.name != null and demo.name != ''" >
	    and name =  #{demo.name}
	</if>
	<if test="demo.time != null and demo.time != ''" >
	    and time =  #{demo.time}
	</if>
	<if test="demo.mark != null and demo.mark != ''" >
	    and mark =  #{demo.mark}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object">
  insert into demo(id,name,time,mark)
  values(#{id},#{name},#{time},#{mark})
</insert>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from demo where id = #{id}
</delete>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update demo set name=#{name},time = #{time},mark=#{mark} where id=#{id}
 </update>

<!-- 根据id查询 实体 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from demo where id = #{id}
</select>
 
<!-- 查询分页 -->
<select id="queryBylistPage" resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" />  from demo
	<include refid="Example_Where_Clause"/>
</select>
 
</mapper>   
